@tailwind base;
@tailwind components;
@tailwind utilities;

/* גוף האתר */
/* body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #faebd7; 
} */

/* עיצוב Navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(132, 128, 128, 0.7); /* רקע כהה חצי שקוף */
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 0;
  z-index: 100;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.navbar ul li a:hover {
  background-color: rgba(47, 7, 222, 0.259);
  border-radius: 5px;
}
/* Container for the blurred background */
.background {
  background-image: url('/image/IMG_0619.JPG'); /* Replace with your own image URL */
  background-size: 9in 13in;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full height */
  width: 100vw;
  filter: blur(10px); /* Adjust the blur level */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Ensures content is on top */
}
.card {
  backdrop-filter: blur(10px); /* Creates the frosted glass effect */
  background-color: rgba(255, 255, 255, 0.2); /* Translucent background */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  position: relative;
  z-index: 1;
}